* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body {
    background: linear-gradient(-45deg, #000000, #222222, #111111, #333333);
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
    font-family: 'Josefin Sans';
    overflow-x: hidden;
    scroll-behavior: smooth;
}
main::before {
    content: '';
    background: url(./images/pattern-flipped.png);
    background-position: bottom;
    background-size: cover;
    object-fit: cover;
    overflow: visible;
    opacity: 0.2;
    left: 0;
    right: 0;
    z-index: -1;
    bottom: 0;
    width: 100vw;
    height: auto;
    position: fixed;
    top: 0;
}
main {
    overflow: hidden;
}

/* Main Content */
.banner {
    background: #666666;
    width: 100%;
    position: fixed;
    top: 0;
    line-height: 30px;
    height: 25px;
    text-align: center;
    color: white;
    z-index: 9999;
    letter-spacing: 1.5px;
    & .remaining-time-banner {
        color: WHITE;
        font-weight: normal;
    }
}
.hero-section {
    display: flex;
    justify-content: space-between;
}
.floating-logo {
    position: absolute;
    top: 35px;
    left: 25px;
    color: white;
    font-size: 8px;
    & h2 {
        font-weight: normal;
    }
}


.chevron-container {
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
   }
   
.chevron {
     position: absolute;
     width: 50px;
     height: 5px;
     opacity: 0;
     transform: scale(0.5);
     animation: move-chevron 3s ease-out infinite;
}
   
.chevron:first-child {
     animation: move-chevron 3s ease-out 1s infinite;
}
   
.chevron:nth-child(2) {
     animation: move-chevron 3s ease-out 2s infinite;
}
   
.chevron:before,
.chevron:after {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    background: white;
}
   
.chevron:before {
    left: 0;
    transform: skewY(30deg);
}
   
.chevron:after {
    right: 0;
    width: 50%;
    transform: skewY(-30deg);
}
   
.content {
    display: flex;
    width: 45vw;
    height: 90vh;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding-top: 50px;
    & .main-message {
        text-align: center;
        color: white;
        font-size: 5rem;
        max-width: 75%;
        font-weight: bold;
        text-align: left;
    }
    & .sub-message {
        color: white;
        font-size: 1rem;
        font-weight: 500;
    }
}
.giant-lure {
    max-width: 100vw;
    background: white;
    font-size: 40px;
    z-index: 999;
    font-weight: bolder;
    text-align: center;
    padding: 50px 0;
}
.timer {
    color: white;
    font-size: 25px;
    opacity: 0.6;
    margin: 25px 0;
}

.video-content {
    display: flex;
    justify-content: left;
    flex-direction: column;
    text-align: center;
    color: white;
}
.btn {
    width: max-content;
    padding: 10px 30px;
    background: linear-gradient(-45deg, #000000, #222222, #111111, #333333);    color: white;
    background-size: 400%;
    animation: gradient 5s infinite;
    border-radius: 95px 8px;
    border: none;
    position: relative;
    font-family: 'Josefin Sans';
    font-size: 16px;
    font-weight: normal;
    text-decoration: none;
}
.btn:hover, .btn:focus {
    background: linear-gradient(45deg, rgba(187,2,161,1) 0%, rgba(69,1,108,1) 36%, rgba(0,212,255,1) 100%);
    background-size: 200% 200%;
    animation: gradient 2s infinite;
    border: none;
}
.btn:before {
    content: '';
    position: absolute;
    border-radius: 95px 8px;
    top: -2px;
    left: -2px;
    bottom: -2px;
    right: -2px;
    background: linear-gradient(45deg, rgba(187,2,161,1) 0%, rgba(69,1,108,1) 36%, rgba(0,212,255,1) 100%);
    background-size: 400%;
    animation: gradient 2s infinite;
    z-index: -1;
}

form {
    width: 75%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    & .form-lure {
        color: white;
        font-weight: lighter;
        font-size: 0.75rem;
    }
    & input {
        padding: 5px;
        margin-top: 15px;
        background: rgba(255,255,255,0.4);
        border-radius: 95px 8px;
        text-indent: 20px;
        opacity: 0.5;
        color: white;
        line-height: 20px;
    }
    & input::placeholder {
        color: white;
        font-size: 16px;
        transform: translateY(2.5px);
    }
    & .full {
        width: 75%;
    }
    & .half {
        width: 45%
    }
    & button {
        width: 100% !important;
        margin-top: 20px !important;
    }
    & .name {
        display: flex;
        width: 100%;
        gap: 1rem;
        justify-content: space-between;
    }
}

/* Video Popup */
.video {
    width: 90%;
    margin: auto;
    display: flex;
    margin-bottom: 50px;
    flex-direction: row;
    justify-content: space-between;
    flex-direction: column;
    & .faro-video {
        margin: auto;
    }
    & .card-section {
        display: flex;
        flex-direction: row;
        margin: 50px auto 150px auto;
        flex-direction: row;
        width: 75%;
        justify-content: space-between;
    }
    & .faro-video {
        align-self: center ;
        width: 50vw;
        margin-top: 50px;
        height: calc(50vw / (16 / 9));
    }
    & .feature-card {
        border-radius: 95px 8px;
        width: 25%;
        margin: 10px 0;
        height: 150px;
        background: linear-gradient(-45deg, #000000, #222222, #111111, #333333);    color: white;
        background-size: 400%;
        animation: gradient 5s infinite;
        position: relative;
        text-align: center;
        padding: 25px;
        transition: all 0.5s ease-in;
    }
    & .feature-card::before {
        content: '';
        position: absolute;
        border-radius: 95px 8px;
        top: -2px;
        left: -2px;
        bottom: -2px;
        right: -2px;
        background: linear-gradient(45deg, rgba(187,2,161,1) 0%, rgba(69,1,108,1) 36%, rgba(0,212,255,1) 100%);
        background-size: 400%;
        animation: gradient 2s infinite;
        z-index: -1;
    }
    & .feature-card:hover {
        background: white;
        color: black;
        transition: all 0.5s ease-out;
    }
    & .feature-card:nth-child(odd) {
        align-self: flex-start;
    }
}


/* Splash Page */

.splash-page {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top:0;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(-45deg, #000000, #222222, #111111, #333333);
    background-size: 400% 400%;
    z-index: 10;
	animation: gradient 5s ease infinite;
    transition: opacity 1s ease;
    & .container {
        overflow: hidden;
        width: 20vw;
        text-align: center;
        animation: fadein 2s ease;
        & .logo {
            width: 10vw;
        }
        & .subheading {
            color: white;
            opacity: 0.8;
            font-family: 'Josefin Sans', Courier, monospace;
        }
    }
}

/* Spinning Card */
.main-left {
    height: 100vh;
    width: 45vw;
}

.card-showcase {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.wrapper {
    perspective: 1000px;
}
.card {
    transform-style: preserve-3d;
    width: 325px;
    height: 503px;
    transform-origin: 175px 250px;
    position: relative;
}
.card > div {
    position: absolute;
    height: 503px;
}
.front {
    width: 325px;
    background: url(./images/cardfront.png);
    transform: translate3d(0, 0, 2px) rotate(30deg);
    box-shadow: 0 0 20px 1px white;
    border-radius: 20px;
}
.back {
    width: 325px;
    background: url(./images/cardback.png);
    transform: translate3d(0, 0,-2px) rotateY(180deg) rotate(-30deg);
    box-shadow: 0 0 20px 1px white;
    border-radius: 20px;

}
.side {
    width: 4px;
    height: 470px !important;
    transform: rotateY(-90deg) translate3d(0,-66px,-20px) rotateX(30deg);
    background-color: black;
}
.top {
    width: 4px;
    height: 297px !important;
    transform: rotateY(-90deg) translate3d(0,-114px,-287px) rotateX(-60deg);
    background-color: black;
}
.bottom {
    width: 4px;
    height: 297px !important;
    transform: rotateY(-90deg) translate3d(0,318px,-32px) rotateX(-60deg);
    background-color: black;
}
.sideother {
    width: 4px;
    height: 470px !important;
    transform: rotateY(90deg) translate3d(0,68px,182px) rotateX(-30deg);
    background-color: black;
    transform-origin: bottom;
}
.card .shadow {
    width: 500px;
    height: 15px;
    background: radial-gradient(rgba(0,0,0,0.4), transparent);
    transform: rotateX(90deg) translate3d(-80px, 0,-550px);
    transform-origin: bottom;
}
.front, .back, .side {
    background-size: cover;
    pointer-events: none;
}


.faq-box {
    width: 70%;
    max-width: 1000px;
    margin: auto;
    & .question {
        background: white;
        background-size: 400%;
        animation: gradient 5s infinite;
        margin: 10px 0;
        border-radius: 15px;
        padding: 25px;
        & .question-title {
            position: relative;
            &:before {
                content: '+';
                position: absolute;
                right: 20px;
                top: 50%;
                transform: translateY(-50%);
            }

        }
    }
    & .question-answer {
        background: #222222;
        margin-top: 25px;
        border-radius: 10px;
        padding: 20px 10px;
        color: white;
        text-indent: 15px;
    }
}
details{
    font-size: 1.5rem;
    background: white;
    background-size: 400%;
    animation: gradient 5s infinite;
    margin: 20px 0;
    border-radius: 15px;
    padding: 25px;
  }

summary {
    padding: .5em 1.3rem;
    list-style: none;
    display: flex;
    justify-content: space-between;  
    transition: height 1s ease;
    transition: all 0.5s ease-in-out;
  }
  
  summary::-webkit-details-marker {
    display: none;
  }
  
  summary:after{
    content: "\002B";
    scale: 2;
  }
  
  details[open] summary {
      border-bottom: 1px solid #aaa;
      margin-bottom: .5em;
  }
  
  details[open] summary:after{
    content: "\00D7";
  }
  
  details[open] div{
    padding: .5em 1em;

  }
.faq {
    color: white;
    padding: 15px 25px;
    border: 2px solid white;
    border-radius: 10px;
    width: max-content;
    margin: auto;
    font-size: 35px;
}
/* Animations */

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes move-chevron {
    25% {
     opacity: 1;
       }
    33.3% {
     opacity: 1;
     transform: translateY(30px);
    }
    66.6% {
     opacity: 1;
     transform: translateY(50px);
    }
    100% {
     opacity: 0;
     transform: translateY(80px) scale(0.5);
    }
   }

/* Responsiveness */
@media only screen and (max-width: 1000px) {
 .faq {
    font-size: 20px;
 }
 .video .card-section {
    width: 90%;
    .feature-card {        
        width: 22%;
    }
}
 .video .faro-video {
    width: 75vw;
    height: calc(75vw / (16 / 9));
 }
 .giant-lure {
    font-size: 30px;
 }
}
@media only screen and (max-width:1400px) {
    .card-showcase {
        scale: 0.6;
    }
}
@media only screen and (max-width: 767px) {
    .splash-page .container {
        width: 90%;
        .logo {
            width: 50vw;
        }
    }
    .hide-mobile {
        display: none;
    }
    .faq {
       font-size: 16px;
    }
    .video .card-section {
        flex-direction: column;
        & .feature-card {
            width: 75%;
            margin: auto;
        }
    }
    .giant-lure {
        font-size: 20px !important;
    }
    .video .faro-video {
        width: 90vw;
        height: calc(90vw / (16 / 9));
    }
    .hero-section {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        & .content {
            width: 75vw;
            text-align: center;
            height: unset;
            margin-top: 20vh;
            & .main-message {
                text-align: center !important;
                max-width: 100%;
                font-size: 60px;
            }
            & .signup-form {
                width: 100%;
                margin: auto;
                justify-content: center;
                font-size: 16px;
            }
        }

        & .main-left {
            height: 60vh;
            .card-showcase {
                height: 60vh;
                align-items: flex-start;
            }
        }
    }
    details {
        padding: 0px;
    }
    .faq-box {
        width: 90%;
    }
    .chevron-container {
        display: none;
    }
}
@media only screen and (max-width: 500px) {
    .main-message {
        font-size: 40px !important;
    }
    .timer {
        font-size: 16px;
    }
}





