* {
    margin: 0;
    padding: 0;
}
body {
    background: linear-gradient(-45deg, #000000, #222222, #111111, #333333);
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
    overflow: hidden;
}
main::before {
    content: '';
    background: url(./images/Pattern-03.png);
    background-position: bottom;
    background-size: cover;
    object-fit: cover;
    height: 100vh;
    overflow: visible;
    opacity: 0.2;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    position: absolute;
}
@media only screen and (max-width: 768px) {
    main::before{
        background: url(./images/pattern-flipped.png);
    }
}

/* Main Content */
.header {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding-top: 50px;
    justify-content: center;
    & .full-logo {
        width: 300px;
        height: auto;
        margin: auto;
    }
    & .welcome-message {
        text-align: center;
        color: white;
        opacity: 0.5;
        font-size: medium;
        font-weight: normal;
    }
}
.video-container {
    text-align: center;
}

/* Splash Page */

.splash-page {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top:0;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(-45deg, #000000, #222222, #111111, #333333);
    background-size: 400% 400%;
    z-index: 10;
	animation: gradient 5s ease infinite;
    transition: opacity 1s ease;
    & .container {
        overflow: hidden;
        width: 20vw;
        text-align: center;
        animation: fadein 2s ease;
        & .logo {
            width: 10vw;
        }
        & .subheading {
            color: white;
            opacity: 0.8;
            font-family: 'Josefin Sans', Courier, monospace;
        }
    }
}

/* Spinning Card */

.card-showcase {
    height: 100vh;
    display: flex;
    justify-content: right;
    margin: -10% 10%;
    align-items: center;
    position: relative;
    scale: 0.75;
}
.wrapper {
    perspective: 1000px;
}
.card {
    transform-style: preserve-3d;
    width: 325px;
    height: 503px;
    transform-origin: 175px 250px;
    position: relative;
}
.card > div {
    position: absolute;
    height: 503px;
}
.front {
    width: 325px;
    background: url(./images/cardfront.png);
    transform: translate3d(0, 0, 2px) rotate(30deg);
}
.back {
    width: 325px;
    background: url(./images/cardback.png);
    transform: translate3d(0, 0,-2px) rotateY(180deg) rotate(-30deg);
}
.side {
    width: 4px;
    height: 470px !important;
    transform: rotateY(-90deg) translate3d(0,-66px,-20px) rotateX(30deg);
    background-color: black;
}
.top {
    width: 4px;
    height: 297px !important;
    transform: rotateY(-90deg) translate3d(0,-114px,-287px) rotateX(-60deg);
    background-color: black;
}
.bottom {
    width: 4px;
    height: 297px !important;
    transform: rotateY(-90deg) translate3d(0,318px,-32px) rotateX(-60deg);
    background-color: black;
}
.sideother {
    width: 4px;
    height: 470px !important;
    transform: rotateY(90deg) translate3d(0,68px,182px) rotateX(-30deg);
    background-color: black;
    transform-origin: bottom;
}
.card .shadow {
    width: 500px;
    height: 15px;
    background: radial-gradient(rgba(0,0,0,0.4), transparent);
    transform: rotateX(90deg) translate3d(-80px, 0,-550px);
    transform-origin: bottom;
}
.front, .back, .side {
    background-size: cover;
    pointer-events: none;
}

/* Animations */

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}





