* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body {
    background: linear-gradient(-45deg, #000000, #222222, #111111, #333333);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    font-family: 'Josefin Sans';
    overflow-x: hidden;
    scroll-behavior: smooth;
}
main::before {
    content: '';
    background: url(./images/pattern-flipped.png);
    background-position: bottom;
    background-size: cover;
    object-fit: cover;
    overflow: visible;
    opacity: 0.2;
    left: 0;
    right: 0;
    z-index: -1;
    bottom: 0;
    width: 100vw;
    height: auto;
    position: absolute;
    top: 0;
}

/* Main Content */
.hero-section {
    display: flex;
    justify-content: space-between;
}
.floating-logo {
    position: absolute;
    top: 10px;
    left: 25px;
    color: white;
    font-size: 8px;
    & h2 {
        font-weight: normal;
    }
}
.content {
    display: flex;
    width: 45vw;
    height: 90vh;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding-top: 50px;
    & .main-message {
        text-align: center;
        color: white;
        font-size: 3rem;
        max-width: 75%;
        font-weight: normal;
        text-align: left;

    }
}
.giant-lure {
    color: white;
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
    padding: 50px 0;
}
.timer {
    color: white;
    font-size: 25px;
    opacity: 0.6;
}

.video-content {
    display: flex;
    justify-content: left;
    flex-direction: column;
    text-align: center;
    color: white;
}
.btn {
    width: max-content;
    padding: 10px 30px;
    background: linear-gradient(-45deg, #000000, #222222, #111111, #333333);    color: white;
    background-size: 400%;
    animation: gradient 5s infinite;
    border-radius: 95px 8px;
    border: none;
    position: relative;
    font-family: 'Josefin Sans';
    font-size: 16px;
    font-weight: normal;
    text-decoration: none;
}
.btn:hover, .btn:focus {
    background: linear-gradient(45deg, rgba(187,2,161,1) 0%, rgba(69,1,108,1) 36%, rgba(0,212,255,1) 100%);
    background-size: 200% 200%;
    animation: gradient 2s infinite;
    border: none;
}
.btn:before {
    content: '';
    position: absolute;
    border-radius: 95px 8px;
    top: -2px;
    left: -2px;
    bottom: -2px;
    right: -2px;
    background: linear-gradient(45deg, rgba(187,2,161,1) 0%, rgba(69,1,108,1) 36%, rgba(0,212,255,1) 100%);
    background-size: 400%;
    animation: gradient 2s infinite;
    z-index: -1;
}

form {
    width: 75%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    & .form-lure {
        color: white;
        font-weight: lighter;
        font-size: 0.75rem;
    }
    & input {
        padding: 5px;
        margin-top: 15px;
        background: rgba(255,255,255,0.4);
        border-radius: 95px 8px;
        text-indent: 15px;
        opacity: 0.5;
        color: white;
    }
    & input::placeholder {
        color: white;
    }
    & .full {
        width: 75%;
    }
    & .half {
        width: 45%
    }
    & button {
        width: 100% !important;
        margin-top: 15px !important;
    }
    & .name {
        display: flex;
        width: 100%;
        gap: 1rem;
        justify-content: space-between;
    }
}

/* Video Popup */
.video {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


/* Splash Page */

.splash-page {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top:0;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(-45deg, #000000, #222222, #111111, #333333);
    background-size: 400% 400%;
    z-index: 10;
	animation: gradient 5s ease infinite;
    transition: opacity 1s ease;
    & .container {
        overflow: hidden;
        width: 20vw;
        text-align: center;
        animation: fadein 2s ease;
        & .logo {
            width: 10vw;
        }
        & .subheading {
            color: white;
            opacity: 0.8;
            font-family: 'Josefin Sans', Courier, monospace;
        }
    }
}

/* Spinning Card */
.main-left {
    height: 100vh;
    width: 45vw;
}

.card-showcase {
    height: 100vh;
    display: flex;
    justify-content: right;
    align-items: flex-end;
    position: relative;
    scale: 0.6;
}
.wrapper {
    perspective: 1000px;
}
.card {
    transform-style: preserve-3d;
    width: 325px;
    height: 503px;
    transform-origin: 175px 250px;
    position: relative;
}
.card > div {
    position: absolute;
    height: 503px;
}
.front {
    width: 325px;
    background: url(./images/cardfront.png);
    transform: translate3d(0, 0, 2px) rotate(30deg);
    box-shadow: white;
}
.back {
    width: 325px;
    background: url(./images/cardback.png);
    transform: translate3d(0, 0,-2px) rotateY(180deg) rotate(-30deg);
}
.side {
    width: 4px;
    height: 470px !important;
    transform: rotateY(-90deg) translate3d(0,-66px,-20px) rotateX(30deg);
    background-color: black;
}
.top {
    width: 4px;
    height: 297px !important;
    transform: rotateY(-90deg) translate3d(0,-114px,-287px) rotateX(-60deg);
    background-color: black;
}
.bottom {
    width: 4px;
    height: 297px !important;
    transform: rotateY(-90deg) translate3d(0,318px,-32px) rotateX(-60deg);
    background-color: black;
}
.sideother {
    width: 4px;
    height: 470px !important;
    transform: rotateY(90deg) translate3d(0,68px,182px) rotateX(-30deg);
    background-color: black;
    transform-origin: bottom;
}
.card .shadow {
    width: 500px;
    height: 15px;
    background: radial-gradient(rgba(0,0,0,0.4), transparent);
    transform: rotateX(90deg) translate3d(-80px, 0,-550px);
    transform-origin: bottom;
}
.front, .back, .side {
    background-size: cover;
    pointer-events: none;
}
.card-section {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: end;
    width: 30%;
    & .feature-card {
        border-radius: 95px 8px;
        width: 150px;
        margin: 10px 0;
        height: 150px;
        background: linear-gradient(-45deg, #000000, #222222, #111111, #333333);    color: white;
        background-size: 400%;
        animation: gradient 5s infinite;
        position: relative;
        text-align: center;
        padding: 25px;
        transition: all 0.5s ease-in;
    }
    & .feature-card::before {
        content: '';
        position: absolute;
        border-radius: 95px 8px;
        top: -2px;
        left: -2px;
        bottom: -2px;
        right: -2px;
        background: linear-gradient(45deg, rgba(187,2,161,1) 0%, rgba(69,1,108,1) 36%, rgba(0,212,255,1) 100%);
        background-size: 400%;
        animation: gradient 2s infinite;
        z-index: -1;
    }
    & .feature-card:hover {
        background: white;
        color: black;
        transition: all 0.5s ease-out;
    }
    & .feature-card:nth-child(odd) {
        align-self: flex-start;
        transform: rotateX(180deg);
    }
}


.faq-box {
    width: 70%;
    margin: auto;
    color: white;
    & .question {
        background: linear-gradient(-45deg, #000000, #222222, #111111, #333333);    color: white;
        background-size: 400%;
        animation: gradient 5s infinite;
        margin: 10px 0;
        border-radius: 15px;
        padding: 15px;
        & .question-title {
            /* padding: 0 15px 15px 15px; */
            position: relative;
            &:before {
                content: '+';
                position: absolute;
                right: 20px;
                top: 50%;
                transform: translateY(-50%);
            }

        }
    }
    & .question-answer {
        display: none;
        background: grey;
        margin: 0 25px;
    }
}
.faq {
    color: white;
    padding: 15px 25px;
    border: 2px solid white;
    border-radius: 10px;
    width: max-content;
    margin: auto;
    font-size: 25px;
}
/* Animations */

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media only screen and (max-width: 1000px) {
 .video {
    flex-direction: column;
    & iframe {
        margin: auto;
    }
    & .card-section {
        margin: 40px 0 80px 0;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
    }
 }
}





